<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}6-Degrees NFL{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet">
    <!-- Google Font: Anton for sporty banner -->
    <link
      href= "https://fonts.googleapis.com/css2?family=Tourney:ital,wdth,wght@0,90.7,900;1,90.7,900&display=swap"
      rel="stylesheet">
    <!-- Custom CSS overrides -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='custom.css') }}">
  </head>
  <body>
    <!-- Page Banner -->
    <header class="page-banner mb-4">
      <h1>{% block banner_title %}6 DEGREASE OF KELVIN BENJAMIN {% endblock %}</h1>
    </header>

    <div class="container py-5">
      {% block content %}{% endblock %}
    </div>

    {% block scripts %}{% endblock %}

    <!-- Bootstrap JS Bundle for components -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
